################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChesssGame/.vs/ChesssGame/FileContentIndex/e7385432-e786-438c-b077-2468a75133ad.vsidx
